@import "styling";
@import "globalvariables";
body {
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  background-color: #061c27;
}
.container-a {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: 0 120px 0 120px;
  @media screen and (max-width: 1260px) {
    padding: 0 60px 0 60px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 20px 0 20px;
  }
}
